@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"');


body {
    background-color: #f8981a;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: #333;
  }
  
  button img {
    margin-right: 10px;
  }
  #configuracaoBtn{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  #cestas {
    height: 100vh;
    overflow-y: auto;
    padding: 2px
  }
  #voltarBtn{
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
  }

  #beneficiariosContainer {
    max-height: 700px; /* Ajuste a altura conforme necessário */
    overflow-y: auto;
    padding-right: 20px; /* Para evitar que o conteúdo fique muito perto da borda */
}

#beneficiariosContainer::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

#beneficiariosContainer::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da trilha */
}

#beneficiariosContainer::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Cor da barra de rolagem */
    border-radius: 10px;
}

#beneficiariosContainer::-webkit-scrollbar-thumb:hover {
    background-color: #0056b3; /* Cor da barra de rolagem ao passar o mouse */
}

